body {
  display: flex;
  justify-content: center;
  margin: 100px;
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0827a8;
}
svg {
  position: absolute;
  top: 40%;
  left: 45%;
  height: 10em;
  transform: rotate(-60deg);
  color: black;
  animation: 3s linear 0s infinite rotate;
}

#shadow {
  animation: 3s linear 0s infinite reverse rotate;
  color: darkgrey;
  opacity: 90%;
  z-index: -1;
  opacity: 70%;
}

@keyframes rotate {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(300deg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
